/* Media Queries */
@media (max-width: 1200px) {
    .destacados {
        display: grid;
        grid-template-areas:
            "Titulo Titulo"
            "card1 card2"
            "card3 .";
    }

    .nosotros {
        flex-wrap: wrap;
    }
}


@media (max-width: 992px) {

    .destacados {
        display: grid;
        justify-content: center;
        grid-template-areas:
            "Titulo"
            "card1"
            "card2"
            "card3";
    }

    .cardContainer {
        justify-content: center;
    }

    .contactoForm>div {
        flex-direction: column;
    }

    form {
        width: 100%;
    }
}


@media (max-width: 768px) {

    section {
        padding: 10px 20px;
    }

    .cardContainer {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }

    .cards {
        width: auto;
        margin: 16px;
    }

    .hero {
        padding: 20px;
        height: 50vh;
        background-position: 35% 20%;
    }

    .recetaArt {
        flex-direction: column;
    }

    .nosotrosImg {
        width: auto;

        img {
            width: 100%;
        }
    }

    .contactoForm {
        padding: 0;

        >div {
            width: 90%;
        }
    }


}

@media (max-width: 576px) {

    .cardContainer {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}